.venv
venv
__pycache__
*.pyc
*.pyo

paper/*
results/lrfhss_communication/sent_packets_vs_decoded_payload_country_avg.png
.codex
presentations/.~lock.lrfhss_multibeam_academic_workflow_marp.pptx#
raw_data/*
results/satellite_stepper/*
